<fieldset>
	<legend>View Inventory</legend>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>S.N.</th>
				<th>Manufacturer</th>
				<th>Model</th>
				<th>Count</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tbl in allModels">
				<td class="text-center">{{$index+1}}</td>
				<td>{{tbl.manufacturer_name}}</td>
				<td>
					<a data-toggle="modal" data-target="#myModal" ng-click="getmodellist(tbl.model_name)" href="javascript:;">{{tbl.model_name}}</a>
				</td>
				<td class="text-center">{{tbl.cnt}}</td>
			</tr>
		</tbody>
	</table>
</fieldset>

<div id="myModal" class="modal fade" role="dialog" ng-if="model">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<table class="table table-stripped">
				<thead>
					<tr>
						<th>S.N.</th>
						<th>Color</th>
						<th>Manufacturing Year</th>
						<th>Registration Number</th>
						<th>Note</th>
						<th>Picture</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tbl in Models">
						<td class="text-center">{{$index+1}}</td>
						<td>{{tbl.model_color}}</td>
						<td class="text-center">{{tbl.manufacturing_year}}</td>
						<td>{{tbl.registration_number}}</td>
						<td>{{tbl.model_description}}</td>
						<td>
							<img ng-repeat="pic in tbl.model_pic" src="img/{{pic}}" style="width:25px;height:25px;"/> 
						</td>
						<td class="text-center"><a href="javascript:;" ng-click="removeModel(tbl.id)"><i class="fa fa-times"></i></a></td>
					</tr>
				</tbody>
	</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>