<fieldset>
	<legend>Add Manufaturer Model</legend>
	<div ng-show="resmsg" class="alert alert-{{resmsg.status}}">{{resmsg.message}}</div>
	<form id="mform" class="form-horizontal" method="post" ng-submit="createModel(v)">
		<div class="form-group">
			<div class="col-sm-6">
				<input type="text" ng-model="v.name" class="form-control" placeholder="Model Name" required/>
			</div>
			<div class="col-sm-6">
				<select type="text" ng-model="v.manufacturer" ng-options="v.name for v in allManufacturers track by v.id" class="form-control" required><option value="">Select Manufacturer</option></select>
			</div>
		</div>
		<div class="form-group" ng-show="v.name && v.manufacturer.id">
			<label class="col-sm-12">Color</label>
			<div class="col-sm-12">
				<input type="text" ng-model="v.color" class="form-control" placeholder="i.e. : white" required/>
			</div>
		</div>
		<div class="form-group" ng-show="v.name && v.manufacturer.id">
			<label class="col-sm-12">Manufacturing Year</label>
			<div class="col-sm-12">
				<input type="number" ng-model="v.year" class="form-control" placeholder="i.e. : 1990" required/>
			</div>
		</div>
		<div class="form-group" ng-show="v.name && v.manufacturer.id">
			<label class="col-sm-12">Registration Number</label>
			<div class="col-sm-12">
				<input type="text" ng-model="v.registration" class="form-control" placeholder="i.e. : MH-08-KH-3456" required/>
			</div>
		</div>
		<div class="form-group" ng-show="v.name && v.manufacturer.id">
			<label class="col-sm-12">Note</label>
			<div class="col-sm-12">
				<textarea ng-model="v.note" class="form-control" placeholder="Model Description" required></textarea>
			</div>
		</div>
		<div class="form-group" ng-show="v.name && v.manufacturer.id">
			<label class="col-sm-12">Picture</label>
			<div class="col-sm-12">
				<input type="file" name="p[]" class="form-control" required/>
				<input type="file" name="p[]" class="form-control" required/>
			</div>
		</div>
		<div class="form-group" ng-show="v.name && v.manufacturer.id"> 
			<div class="col-sm-offset-4 col-sm-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</fieldset>